.page-diet {
    display: flex; 
    flex-direction: column;
    width: 60vw; 
    align-items: center;
    margin: auto; 
    margin-bottom: 2rem; 
}

.diet-summary {
    display: flex; 
    flex-direction: column;
    width: 60vw; 
    height: 30vh; 
    justify-content: center;
    align-items: center;
    margin: auto; 
    margin-top: 2rem; 
    border: 3px solid black; 
    border-radius: 15px; 
}

.macros {
    display: flex; 
    width: 100%; 
}

.macros-item {
    display: flex; 
    align-items: center;
    flex-direction: column;
    margin: 1rem; 
    width: 100%; 
}

.calories {
    display: flex; 
    margin: 1rem; 
    width: 100%; 
    align-items: center;
    flex-direction: column;
}


.diet-meal {
    display: flex; 
    flex-direction: column;
    width: 100%; 
    border: 2px solid black; 
    border-radius: 15px; 
    margin-top: 1rem; 
    padding: 1rem; 
    cursor: pointer;
}
.diet-meal:hover {
    background-color: #dddddd;
    transition: ease-in-out 0.3s;
}

.meal-header {
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem; 
    font-weight: bold; 
}

.meal-macros {
    display: flex;
    font-size: 1rem; 
}

.meal-macros-item {
    margin-left: 1rem; 
}

.meal-product-item {
    display: flex;
    justify-content: space-between;
    background-color: #fff; 
    border: 2px solid black; 
    padding: 0.5rem; 
    border-radius: 10px;
    margin-top: 1rem; 
}

.product-macros {
    display: flex;
}

.product-macros-item {
    margin-left: 1rem; 
}


/* date change buttons */
.page-diet--buttons {
    display: flex; 
    width: 100%; 
    justify-content: space-between;
    align-items: center; 
    font-size: 1.5rem; 
    margin-top: 1rem; 
}

.btn-change-date {
    font-size: 2rem; 
    color: #000;
    cursor: pointer; 
}
.btn-change-date:hover {
    color: var(--primary-color)
}