button {
    cursor: pointer;
}

.page-workouts {
    display: flex; 
    flex-direction: column;
    width: 90vw; 
    max-width: 1600px; 
    margin: 1rem auto; 
}

.section--workouts-buttons {
    display: flex; 
    justify-content: space-evenly;
    margin-top: 1rem; 
}


.gallery-workouts {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    flex-wrap: wrap; 
    width: 100%; 
    gap: 2rem; 
}

.workout-page--head {
    display: flex; 
    justify-content: space-between;
    align-items: center; 
    margin: 1rem 0; 
}

.workout-templ--add {
    background-color: var(--green-btn); 
    color: #fff; 
    padding: 1rem; 
    border-radius: 10px; 
    border: none; 
    cursor: pointer; 
}

.gallery-item--workouts {
    border: 2px solid black; 
    display: flex; 
    flex-direction: column;
    border-radius: 15px;
    overflow: hidden; 
    padding: 1rem; 
}

.gallery-item--header {
    display: flex; 
    justify-content: space-between;
    text-align: center; 
    /* background-color: var(--primary-color); */
    /* color: #fff;   */
    font-size: 1.5rem; 
    font-weight: bold; 
}

.header-buttons {
    display: flex; 
    gap: 1rem; 
    font-size: 1.2rem; 
}

.btn-edit--gallery {
    cursor: pointer; 
}

.btn-delete--gallery {
    cursor: pointer; 
    color: var(--red-btn); 
}

.gallery-item--exercises-list {
    margin: 1rem 0;  
}

.gallery-item--exercise-item {
    padding: 0.5rem 0; 
}

.gallery-item--button-start {
    border: none; 
    background-color: var(--primary-color); 
    color: #fff; 
    padding: 0.5rem; 
    cursor: pointer; 
    border-radius: 5px;
}
  
.btn-workouts {
    font-size: 1rem; 
    padding: 0.75rem; 
    border: 1px solid black; 
    border-radius: 10px; 
    background-color: #fff;
    cursor: pointer;    
}

.btn-workouts--active {
    background-color: #7282a0;
    color: #fff; 
    border: none; 
    /* border-bottom: 2px solid var(--primary-color) */
}

.btn-current-workout {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, transform 0.3s;
}

.btn-current-workout:hover {
    background-color: #0056b3;
    transform: translateX(-50%) scale(1.05);
}

.btn-current-workout:active {
    background-color: #004085;
    transform: translateX(-50%) scale(0.95);
}

.btn-edit--secondary {
    color: #fff; 
}





/* Workout list */
.month-wrapper {
    border: 2px solid black; 
    padding: 1rem; 
    border-radius: 30px; 
    margin-bottom: 2rem; 
}

.month-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 0.5rem; 
    margin-bottom: 1rem;  
}

.workouts-list {
    display: flex; 
    flex-direction: column; 
    gap: 1rem; 
}

.list-workout--item {
    border: 1px solid black;
    border-radius: 10px;
    width: 100%;
}

.list-workout--item-header {
    /* display: flex;  */
    /* justify-content: space-between; */
    /* align-items: center; */
    border-bottom: 1px solid #ddd;
    font-size: 1.5rem; 
    font-weight: bold;
    padding: 1rem; 
    text-align: center;;
    position: relative; 
}

.list-workout--item-header-date {
    position: absolute; 
    top: 1rem; 
    left: 1rem; 
}

.btn-remove--list-workout--item {
    position: absolute; 
    top: 1rem; 
    right: 1rem; 
    cursor: pointer;
}

.list-workout--item-subheader {
    display: flex; 
    justify-content: space-between;
    font-size: 1rem; 
}

.list-workout--item-body {
    padding: 0 1rem;
}

.exercise-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.exercise-item {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #ddd;
    padding: 8px 0;
    margin: 0 1.5rem; 
}

.exercise-item:first-child {
    border-top: none;
}

.exercise-name {
    font-size: 1.25rem;
    font-weight: bold;
}

.set {
    font-size: 1rem;
    padding: 0.5rem; 
    text-align: right; 
}

.cardio-details {
    font-size: 1rem;
    padding: 0.5rem;
    text-align: right; 
}



.exercise-item--faded {
    position: relative;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0));
}

.btn-toggle-exercises {
    display: block;
    margin: 0 auto; 
    margin-bottom: 1rem; 
    padding: 0.5rem 1rem;
    border: 1px solid #000;
    background-color: #fff;
    cursor: pointer;
    border-radius: 5px;
}

.btn-submit--workout-template {
    margin-top: 1rem; 
}