@import './variables.scss'; 

.button {
  transition: ease 0.3s background-color; 
  border: none; 
  border-radius: $border-round;
  padding: 12px;
  font-size: 16px;
  background-color: $btn-basic-bg;
  color: $btn-basic-text; 

  &:hover {
    background-color: $btn-basic-bg-hover;
  }
}

.form {
  display: flex; 
  flex-direction: column;
  align-items: center;
  width: 100%; 

  &__title {
    font-size: 1.5rem; 
  }

  &__group {
    width: 100%; 
    display: flex; 
    flex-direction: column;
    gap: 15px;
  }

  &__input-wrapper {
    display: flex;
    flex-direction: column;
  }

  &__error {
    min-height: 30px; 
    color: $error-message-color; 
  }

  label {
    font-weight: 400;
    font-size: 1.25rem;
  }

  &__input, input {
    border: none; 
    border-bottom: 2px solid $underline-color; 
    outline: none; 
    font-size: 18px; 
    padding: 16px 0; 

    &:focus {
      border-color: $primary-color;
    }

    &::placeholder {
      color: #000; 
    }

    &::-ms-input-placeholder {
      color: #000; 
    }
    &:-ms-input-placeholder {
      color: #000; 
    }
  }

  &__submit {
    @extend .button; 
  }

  &__select {
    
    &:focus {
      border-color: var(--primary-color);
    }

    &-option {
      border: 2px solid $primary-color

      &--active {
        background-color: $primary-color
      }
    }
  }

}


.tab-manager {
  &__tabs {
    display: flex; 
    margin-bottom: 16px;
  }

  &__tab {
    width: 100%; 
    background: none; 
    border: none; 
    border-bottom: 2px solid $underline-color;
    padding: 12px;
    font-size: 20px;
  }

  &__tab--active {
    border-color: $tab-active-color; 
  }
}

// Toast

@keyframes slideInLeft {
  from {
    opacity: 0; 
    transform: translateX(-100%); 
  }
  to {
    opacity: 1; 
    transform: translateX(0); 
  }
}

@keyframes slideOutLeft {
  from {
    opacity: 1; 
    transform: translateX(0)
  }
  to {
    opacity: 0; 
    transform: translateX(-100%)
  }
}


#toast-root {
  position: relative; 
  z-index: 9999; 
}

.toast-container {
  position: fixed; 
  left: 32px; 
  bottom: 32px; 

  display: flex; 
  flex-direction: column-reverse;
  gap: 16px; 

  .toast {
    background-color: $toast-basic; 
    padding: 0.5rem 1rem;
    border-radius: 5px; 
    color: #fff;  
    display: flex; 
    align-items: center;
    gap: 12px; 
    justify-content: center;

    animation: slideInLeft 0.3s ease-out forwards; 

    &_success {
      background-color: $toast-success;
    }
    &_error {
      background-color: $toast-error;
    }

    &_close-btn {
      font-weight: bold; 
      background: none; 
      border: none; 
    }

  }
  .closing {
    animation: slideOutLeft 0.3s ease-in forwards; 
  }
}
