$border-round: 10px; 
$primary-color: #2093ff; 
$primary-color-hover: #5eaef9;


$btn-basic-bg: #000; 
$btn-basic-bg-hover: #292929; 
$btn-basic-text: #fff; 


$green-btn: #319b5a;
$green-btn-hover: #2a7f4b;
$red-btn: #d44343;
$red-btn-hover: #ad3434;

$underline-color: #c5c5c5; 
$tab-active-color: #000; 

$error-message-color: #e22832; 


$toast-basic: #417dff;
$toast-success: #52f194;
$toast-error: #f74049;