.page-register {
    display: flex; 
    justify-content: start; 
    align-items: center; 
    height: 90vh; 
    margin-top: 1rem; 
}

.form-register {
    padding-bottom: 1rem; 
    min-height: 530px; 
    display: flex; 
    align-items: center; 
    justify-content: space-evenly;
}

.form-register--info {
    margin-bottom: 1rem; 
    background-color: #1b8cb9; 
    color: #fff; 
    padding: 0.5rem; 
    border-radius: 5px; 
}

.form-wrapper {
    position: relative; 
}

.form-macro-inputs {
    display: grid; 
    grid-template-columns: repeat(2, 1fr);
    width: 100%; 
    gap: 1rem 3rem; 
}

.btn-form-forward {
    position: absolute; 
    bottom: 1rem;
    right: 3rem;  
    background-color: #007bff; 
    color: white; 
    border: none; 
    padding: 0.75rem 0;
    border-radius: 5px; 
    cursor: pointer; 
    width: 90px; 
}

.btn-form-back {
    position: absolute; 
    bottom: 1rem;
    left: 3rem;  
    background-color: #6c757d; 
    color: white; 
    border: none; 
    padding: 0.75rem 0; 
    border-radius: 5px; 
    cursor: pointer; 
    width: 90px; 
}