.page-statistics {
    display: flex; 
    flex-direction: column;
    width: 90vw; 
    max-width: 1600px; 
    margin: 1rem auto; 
}

.statistics-input {
    display: flex; 
    gap: 1rem; 
    justify-content: end;
}

.input-wrapper {
    display: flex; 
    gap: 1rem; 
    flex-direction: row;
    background-color: #5875a1;
    color: #fff; 
    padding: 1rem;
    border-radius: 10px;
}

.statistics--head {
    margin-top: 1rem; 
    font-size: 1.5rem; 
    font-weight: bold;
}
.statistics--subhead {
    display: flex; 
    flex-direction: column;
    margin-top: 1rem; 
    font-size: 1rem; 
    max-width: 65%; 
    font-weight: normal;
    gap: 0.25rem;
    background-color: #cfcfcf;
    padding: 0.5rem; 
    border-radius: 10px; 
}

.statistics-list {
    display: flex; 
    flex-direction: column;
    margin-top: 2rem; 
    gap: 1rem; 
    margin-bottom: 2rem; 
}



.statistics-list--item {
    display: flex; 
    justify-content: space-between;
    border: 2px solid black; 
    padding: 1rem;  
    border-radius: 15px; 
}

.statistic-data {
    display:flex; 
    flex-direction: column;
    justify-content: space-evenly;
    width: 35%; 
    text-align: left;
    font-size: 1.2rem; 
}
.statistic-data--item {
    display: flex; 
    justify-content: space-between;
    padding: 1rem; 
    border-radius: 10px; 
    /* background-color: #cfcfcf; */
    width: 100%; 
}

.statistic-data--item--name {
    background-color: #5875a1;
    color: #fff;
}

.statistic-data span {
    font-weight: bold; 
}

.statistic-graph {
    vertical-align: top;
    width: 50%;
    margin-left: 2%;
}