@import '../../../styles/variables.scss';

.templates {

  &_list {
    display: grid;
    grid-template-columns: auto auto;
    width: 100%; 
    gap: 2rem; 

  }

  &_card {
    box-shadow: 0 10px 25px -4px rgba(0,0,0,0.3); 
    border: 1px solid $border-color-gray; 
    display: flex; 
    flex-direction: column;
    border-radius: 15px;
    padding: 1rem; 

    &-title {
      margin: 0; 
      font-size: 1.5rem; 
    }

    &-header {
      display: flex; 
      justify-content: space-between;
      align-items: center;
      text-align: center; 
      font-size: 1.5rem; 
      font-weight: bold; 
      padding: 0.75rem;
      border: 2px solid $primary-color; 
      border-radius: 12px; 
    }

    &-muscles {
      display: flex; 
      gap: 12px; 
      padding-top: 1rem;

      &--item {
        font-size: 18px;
        font-weight: 600;
        background-color: $other-muscles-color;
        color: #fff; 
        padding: 0.5rem 1rem; 
        border-radius: $border-radius;
      }
    }

    &-exercise-list {
      padding: 1rem; 

      &--item {
        font-size: 1.1rem; 
        font-weight: 600;
        border-bottom: 1px dashed $primary-color;
        padding-bottom: 1rem; 
      }
    }


    &-buttons {
      position: relative; 
    }

    &-button {
      background: none; 
      border: none; 

      > {
        svg {
          &:hover {
            cursor:pointer; 
          }
        }
      }
    }


    .btn-edit {
      background: none;
      color: $btn-basic-bg;
    }


  }

}

.workout-templ--add {
    background-color: var(--green-btn); 
    color: #fff; 
    padding: 1rem; 
    border-radius: 10px; 
    border: none; 
    cursor: pointer; 
}

.btn-submit-workout {
    margin-bottom: 1rem; 
}

.btn-edit--gallery {
    cursor: pointer; 
}

.btn-delete--gallery {
    cursor: pointer; 
    color: var(--red-btn); 
}

.gallery-item--exercises-list {
    margin: 1rem 0;  
}

.gallery-item--exercise-item {
    padding: 0.5rem 0; 
}

.gallery-item--button-start {
    border: none; 
    background-color: var(--primary-color); 
    color: #fff; 
    padding: 0.5rem; 
    cursor: pointer; 
    border-radius: 5px;
}