* {
  --primary-color: #2093ff; 
  --primary-color-hover: #5eaef9;

  --green-btn: #319b5a;
  --red-btn: #d44343;
  --red-btn-hover: #ad3434;
  box-sizing: border-box; 
}

html, body, #root {
  width: 100%;
  height: 100%;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
}

ul {
  list-style: none; 
  margin: 0; 
  padding: 0; 
}

li {
  list-style: none;
  text-decoration: none; 
}

.link {
  cursor: pointer; 
}


/* Form general */
.form-wrapper {
  width: 100%;
  width: 700px;

  padding: 3rem;
  margin: auto;
  font-family: "Nunito", sans-serif;
  background-color: #f8f9fa;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

/* .form {
  width: 50vw;
  max-width: 700px;
  margin: auto;
  display: flex; 
  flex-direction: column;
  align-items: center; 
} */


.form-title {
  color: #333;
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 1.5rem;
}

.form-group {
  margin-bottom: 1.2rem;
  width: 100%; 
}

.form-group--disabled {
  opacity: 0.5;
}

.form-input {
  width: 100%;
  padding: 0.7rem;
  font-size: 1rem;
  border: none; 
  border-bottom: 2px solid #c5c5c5;
  transition: border-color 0.2s ease;
  outline: none; 
  transition: ease-out 0.5s border-color; 
}

.form-input:focus { 
  border-color: var(--primary-color); 
}

.input-validate {
  color: red;
  font-size: 0.9rem;
  display: block;
  margin-top: 0.25rem; 
  /* margin-bottom: 0.25rem; */
}

.btn-submit {
  width: 100%;
  padding: 0.8rem;
  font-size: 1rem; 
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-submit:hover {
  background-color: var(--primary-color-hover);
}

.btn-cancel {
  width: 100%;
  padding: 0.8rem;
  font-size: 1rem; 
  background-color: var(--red-btn);
  color: white;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.btn-cancel:hover {
  background-color: var(--red-btn-hover);
}


.prompt {
  position: absolute; 
  z-index: 1000; 
  top: 10vh; 
  display: flex; 
  width: calc(100% - 7rem); 
  justify-content: space-between;
  padding: 1rem; 
  margin: 1rem 3.5rem; 
  border-radius: 10px; 
  align-items: center; 
  transition: opacity 5s ease-in-out;
  opacity: 1; 
  animation: fadeIn 5s forwards; 
}

.prompt-error {
  background-color: #f74747; 
  color: #fff; 
}

.prompt-success {
  background-color: #69ff7d; 
}

@keyframes fadeIn {
  0% {
    opacity: 0; 
  }
  25% {
    opacity: 1; 
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.btn-close--prompt {
  background-color: inherit; 
  color:inherit; 
  border: none; 
  cursor: pointer; 
  font-size: 1.25rem; 
}


/* Buttons */
.btn-primary {
  border: none; 
  background-color: var(--primary-color);
  color: #fff; 
  padding: 0.5rem 1rem;  
  cursor: pointer; 
  border-radius: 30px; 
}

.btn-primary:hover {
  background-color: var(--primary-color-hover); 
}

/* Footer */
.footer {
  position: fixed; 
  bottom: 50px; 
  display: flex; 
  width: 100vw; 
}

.footer-hide {
  display: none; 
}

.buttons--footer {
  display: flex; 
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  margin: auto;  
}

.buttons--footer-group {
  position: relative; 
  width: 7rem; 
}

.btn--add-workout, .btn--add-diet {
  width: 100px;
  height: 50px; 
}

.drawer {
  position: absolute;  
  top: -180px;
}

.drawer--list-item {
  background-color: #3392ff8b; 
  margin-bottom: 10px;
  border-radius: 30px; 
  height: 50px; 
  width: 100px; 
  display: flex; 
  align-items: center; 
  justify-content: center;
  text-align: center; 
}

.drawer--list-item:hover {
  cursor: pointer; 
  background-color: #1981f78b;
}


/* Modal */




/* Workouts */

/* Workouts template form */

.form-wrapper--workout-template {
  background-color: #fff; 
}

.form-group--workout-template {
  display: flex; 
  flex-direction: row;
}

.form-subgroup {
  display: flex; 
  margin-top: 1rem; 
}

.form-subgroup--set {
  justify-content: space-between;
}

.form-input--label {
  align-content: center; 
}

.form-input--set {
  width: 30%; 
}

.form-group-wrapper {
  width: 100%; 
  margin-bottom: 1rem; 
}


.btn-remove {
  background-color: #fff; 
  border: none; 
  color: red;
  font-size: inherit; 
  cursor: pointer; 
  padding: 0; 
  transition: ease 0.3s color; 
}

.btn-remove:hover {
  color: #ad3434; 
}

.btn-add {
  border: none; 
  background-color: #319b5a; 
  color: #fff; 
  padding: 0.75rem; 
  border-radius: 10px; 
  cursor: pointer; 
  transition: ease 0.3s background-color; 
  width: 100%; 
}

.btn-add:hover {
  background-color: #2a7f4b; 
}

.btn-add--set {
  margin-top: 1rem; 
}


.buttons--workout-active {
  display: flex; 
  flex-direction: column;
  align-items: center;
  width: 70%; 
}

.btn-end--workout {
  margin-top: 1rem; 
  border: none; 
  border-radius: 30px; 
  background-color: red;
  color: #fff; 
  padding: 0.5rem;
  width: 50%;   
  cursor: pointer; 
}

.btn-end--workout:hover {
  background-color: #ad3434; 
}

.btn-remove--card {
  background-color: inherit; 
  font-size: 1.5rem; 
}


.progress-bar--container {
  position: relative;
  height: 30px;
  width: 100%;
  max-width: 400px; 
  background-color: #f0f0f0; 
  border-radius: 15px;
  overflow: hidden;
  margin: 10px auto; 
}

.progress-bar {
  height: 100%;
  background: linear-gradient(90deg, #76c7c0, #4fa7a1); 
  border-radius: 15px 0 0 15px; 
  transition: width 0.4s ease; 
}

.progress-bar--text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 16px;
  color: #333; 
  font-weight: bold;
  letter-spacing: 0.5px; 
  white-space: nowrap;
}

.form-group--checkbox {
  display: flex; 
  position: relative; 
  flex-direction: row;
}

.adaptive-info {
  font-size: 0.8rem; 
  background-color: #969696; 
  padding: 0.5rem; 
  border-radius: 5px;
}