@import "../../../styles/variables.scss"; 


.exercise-search, .exercise-details {
  background: #fff;
  padding: 2rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

  &__input {
    display: flex;
    justify-content: space-between;

    input[type="text"] {
      width: calc(100% - 120px);
      padding: 10px;
      border: 1px solid #ddd;
      border-radius: 5px;
      margin-right: 10px;
    }

    button {
      padding: 11px 20px;
      background: $primary-color;
      color: #fff;
      border: none;
      border-radius: 5px;
      cursor: pointer;

      &:hover {
        background: $primary-color-hover;
      }
    }
  }

  &__results {
    list-style: none;
    margin-top: 1rem;
    padding: 1rem;
    background-color: rgb(199, 199, 199);
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: auto;

    li {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px;
      border: 1px solid #ddd;
      border-radius: 5px;
      background: #f9f9f9;
      margin-bottom: 10px;
      cursor: pointer;

      &:hover {
        background: #f1f1f1;
      }
    }
  }

  &__error {
    color: #dc3545;
    font-size: 0.875rem;
  }

  &__create-wrapper {
    display: flex; 
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;
    padding: 1rem; 
    background-color: #b6b6b6;  
    border-radius: $border-round;
  }

  &__button--add {
    padding: 10px 20px;
    background: $green-btn;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
      background: $green-btn-hover;
    }
  }

  .exercise-detail {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    align-items: center;

    &--set {
      flex-direction: row;
      border: 1px solid #ddd;
      padding: 10px;
      border-radius: 8px;
      background: #f9f9f9;
      gap: 1rem;
    }

    &--input {
      margin-top: 5px;
      padding: 10px;
      border: 1px solid #ddd;
      border-radius: 5px;
      width: 100%;
    }
  }
}


.create-exercise__wrapper {
  padding: 32px; 
  height: auto; 
  min-height: 600px; 
}