@use "../../../styles/variables.scss"; 


.exercise_search, .exercise_details {
  background: #fff;
  padding: 2rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

  &-input {
    display: flex;
    justify-content: space-between;

    input[type="text"] {
      width: calc(100% - 120px);
      padding: 10px;
      border: 1px solid #ddd;
      border-radius: 5px;
      margin-right: 10px;
    }

    button {
      padding: 11px 20px;
      background: variables.$primary-color;
      color: #fff;
      border: none;
      border-radius: 5px;
      cursor: pointer;

      &:hover {
        background: variables.$primary-color-hover;
      }
    }
  }

  &-header {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 2px variables.$primary-color; 
    padding: 0.75rem 0; 

    h3 {
      margin: 0; 
    }
  }

  &-results {
    list-style: none;
    margin-top: 1rem;
    padding: 1rem;
    background-color: rgb(199, 199, 199);
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: auto;

    li {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px;
      border: 1px solid #ddd;
      border-radius: 5px;
      background: #f9f9f9;
      margin-bottom: 10px;
      cursor: pointer;

      &:hover {
        background: #f1f1f1;
      }
    }
  }

  &-error {
    color: #dc3545;
    font-size: 0.875rem;
  }

  &-create--wrapper {
    display: flex; 
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;
    padding: 1rem; 
    background-color: #b6b6b6;  
    border-radius: variables.$border-round;
  }

  &-button--add {
    padding: 10px 20px;
    background: variables.$green-btn;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
      background: variables.$green-btn-hover;
    }
  }
}


.create-exercise__wrapper {
  padding: 32px; 
  height: auto; 
  min-height: 600px; 
}

.exercise_detail {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &-right {
    display: flex;
    flex-direction: row;
    gap: 24px;
  }
}

.split-input {
  &_container {
    display: flex;
    align-items: center;
    background: #f3f4f6;
    border: 1px solid transparent;
    border-radius: 8px;
    padding: 0 8px;
    height: 44px; 
    width: 100%;
    width: 120px; 
    transition: border-color 0.2s, box-shadow 0.2s;
  }

  &_item {
    flex: 1; 
    display: flex;
    justify-content: center;
    min-width: 0;
  }
  &_field {
    border: none;    
    background: transparent;
    width: 100%;
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
    color: #111827;
    padding: 0;
    outline: none;
    -moz-appearance: textfield; 
    &:focus {
      border: none; 
    }
    &::placeholder {
      color: #8a8a8a; 
    }
  }
  

  &_separator {
    font-weight: bold;
    color: #9ca3af;
    padding: 0 4px;
    user-select: none;
  }
}